$header-height: 70px;
$header-max-width: 1450px;
$header-background: #333333;
$header-color: white;
$main-max-width: 1450px;
$sidebar-width: 20%;
$sidebar-min-width: 300px;
$sidebar-max-width: 350px;
$slider-background: #333645;
$slider-item-active-background: #2A393D;
$visual-width: 80%;
$menu-cont-height:200px;
$menu-cont-back:gray;
$menu-cont-max-width: 260px;
